@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Josefin Sans", sans-serif;
	margin: 0;
	padding: 0;
}
